.login-form{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form-container{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 4% 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login-form-container>h1{
    font-size: 4rem;
}

.login-form-container>h1, .login-form-container>form{
    padding: 1.6rem;
}

.input-wrapper{
    padding: .8rem 0;
}

.input-wrapper>label{
    font-size: 1.8rem;
}

.input-wrapper>input{
    height: 37px;
    font-size: 15px;
}

.send-btn{
    width: 100%;
    /* display: flex!important;
    align-items: center; */
    margin-top: 2rem;
}

.send-btn>span {
    border: none;
    margin-top: 1.7rem;
    font-size: 1.7rem !important;
    padding: .8rem 0;
}

.error{
    background-color: rgb(255, 0, 0, .07);
    color: red;
    text-align: center;
    font-size: 1.8rem;
}
